<div id="mainHeader">
    <div class="container">
        <nav class="navbar navbar-light bg-faded">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav navbar-nav">
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="main">Home</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="movies">Movies</a>
                </li>
            </ul>
        </nav>
    </div>
</div>